{% extends "base.html" %}

{% block title %}Guess the secret number{% endblock title %}
{% block content %}
{% if user %} <!--if user exists-->
<h1>Guess The Secret Number Game</h1>
<img width="15%" src="/static/img/dice.png">

<p>Hey {{user.name}}!</p>

<p>Your goal is to guess the secret number.</p>
<p>You can choose between numbers from 1 to 30!</p>

<form method="post" action="/result">
    <input type="text" name="guess" placeholder="Enter your guess: ">
    <button type="submit">Submit</button>
</form>

{% else %} <!--if user doesn't exists-->
<h1>Guess The Secret Number Game</h1>
<img width="15%" src="/static/img/dice.png">
<br>
<form action="/login" method="post">
    <input name="user-name" placeholder="Enter your name" type="text"><br>
    <input name="user-email" placeholder="Enter your email address" type="email"><br>
    <input name="user-password" type="password" placeholder="Enter your password"><br>
    <button>Login</button>
</form>
{% endif %}
{% endblock content %}